@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.ltBlue {
    background-color: #88c0bd;
    color:#3d4e53;
   
}
.ltBlue .heading {
    color:#3d4e53;
    font-family: 'Righteous', 'cursive';
    font-size: 75px;
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 2px 3px 1px rgb(122, 122, 122);
    
}

.dkBlue {
    background-color:#3d4e53;
    color:rgb(209, 205, 181);
}

.dkBlue .heading {
    color: rgb(212, 210, 194);
    text-align: center;
    font-family: 'Righteous', 'cursive';
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 3px 1px rgb(122, 122, 122);
}

.manilla {
    padding: 5px 1px;
    background-color: rgba(221, 218, 202, 0.904);
    z-index: 2;
position: relative;
overflow: hidden;
}
.manilla .heading {
    font-family: 'Righteous', 'cursive';
    color: #88c0bd;
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 4px 5px 3px rgba(192, 89, 58, 0.897);
    filter: drop-shadow(2px 2px 1px #3d4e53) ;
}
.manilla .img2 {
    position: absolute;
    left: 0%;
    top: -3;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.3;
}



.orange {
    margin: 15px;
    padding:15px;
    background-color:rgba(192, 89, 58, 0.884) ;
    
}

.orange .heading {
    color: #3d4e53;
    font-family: 'Righteous', 'cursive';
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 3px 1px #94c2c0;
    filter: drop-shadow(2px 2px 1px #5e6d72) ;
}

.brown {
    background-color: rgb(54, 45, 38);
}
.brown .heading {
    color: rgba(221, 218, 202, 0.904);
    font-family: 'Righteous', 'cursive';
    font-size: 75px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 2px 3px 1px #3d4e53;
    filter: drop-shadow( 1px 1px 0px  #94c2c0) ;
}

.section {
    margin: 2px 10px;
    padding: 4px;
   display: flex;
   flex-direction: row;
  flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   z-index: 2;
   
}
.section-content {
    padding: 3px;
    margin: 5px 2px;
    width: 54%;
    z-index: 2;
   
    
}
.section p {
font-size: 18px;
font-weight: 600;
line-height: 25px;
color:rgb(80, 30, 10);
}
.section h3 {
   font-family: 'Righteous', 'cursive';
   margin: 1px;
   font-size: 41px;
   font-weight: 500;
   color: rgb(61, 70, 78);
   text-shadow: 2px 3px 1px rgb(211, 207, 179);
}

.section-img-box {
    width: 38%;
    min-width: 380px;
    padding:8px 5px;
    z-index: 2;
    
}
.section img {
    width: 100%;
    margin: 30px 4px;
    z-index: 2;
}
#b {
    border: 3px solid #88c0bd;
    z-index: 2;
}

#bgimg {
    z-index: 0;
    opacity: 0.6;
}

.skills-section {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-content: center;
flex-wrap: wrap;
margin: 2px 1.5%;
padding: 8px;
background-color:rgb(187, 145, 132) ;
font-weight: 600;
}

.skill-box {
    display:flex;
    flex-direction: column;
    max-width: 90px;
    margin: 3px;
    padding: 1px;
    text-align: center;
  
}
.skill-box img {
    filter: drop-shadow( 3px 2px 3px rgb(77, 76, 76));
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    margin: 15px 1px;
    padding: 2px;
    font-weight: 600;
    }
    
    .project-box {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 8px 2px;
        padding: 2px 1px;
        text-align: left;
        background-color:#88c0bd ;
    }
    .project-box-col {
        margin: 1px 29px;
    }
    .project-box img {
        max-width: 250px;
        padding: 6px 2px;
        margin: 10px 3px;
        outline: 5px solid rgba(221, 218, 202, 0.904);
        outline-offset: -5px;
        filter: drop-shadow( 3px 2px 3px rgb(77, 76, 76));
    }
    
.technology {
    font-size: 17px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.tech {
    padding: 4px 9px;
    margin: 3px;
    background-color: rgb(202, 121, 96);
}

@media screen and (max-width: 960px) {
    .section-content {
        padding: 3px;
        margin: 5px;
        width: 90%;
    }

    .section-img-box {
        width: 65%;
        min-width: 260px;
        padding:8px 12px;
    }
    .section img {
        width: 100%;
        margin: 30px 4px;
    }

    .project-box {
        flex-direction: column;
        justify-content: space-between;
        margin: 8px 10px;
        padding: 2px 8px;
    }
}